$primary: #99a6ac;
$secondary: #39bdff;
$gray: #f3f6f7;
$favorite: rgb(198, 144, 9);

@font-face {
    font-family: "UniversNextProRegular";
    src: url("./assets/UniversNextProRegular.ttf");
}

* {
    font-family: "UniversNextProRegular";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100%;
    height: 100vh;
}

header {
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title {
    margin-top: 0.25rem;
}

#logo {
    height: 2.5rem;
    cursor: pointer;
}

.links {
    cursor: pointer;
}

#searcher {
    height: 2.2rem;
    padding-left: 0.5rem;
    width: 24%;
    box-sizing: border-box;
    margin-left: 4.5rem;
    border: 0.15rem solid $gray;
    border-color: darken($color: $gray, $amount: 30);
    border-radius: 0.5rem;
}

#searchIcon {
    height: 2.5rem;
}

#inputGenre,
#comboYear {
    border-radius: 0.3rem;
    color: $primary;
    background-color: $gray;
    font-size: 1rem;
}

#inputGenre {
    margin-left: 2.5rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 90%;
}

#inputGenre::-webkit-input-placeholder {
    color: $primary;
}

#listGenres {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
    max-height: 16rem;
    overflow: scroll;
    padding: 0rem;
    position: absolute;
    top: auto;
    z-index: 1;
}

#listGenres ul li {
    list-style-type: none;
    padding: 1rem;
    width: auto;
}

#listGenres ul li:hover {
    background-color: #E8EEF1;
}

h4 {
    color: $primary;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.results {
    color: $primary;
    margin-bottom: 1rem;
    margin-left: 4.2rem;
    margin-top: 0.5rem;
}

.bg-white {
    background-color: white !important;
}

.container-fluid {
    min-width: 100%;
}

.items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1rem;
    margin-top: 1rem;
    padding: 0rem 3rem;
}

.column-2 {
    width: 14%;
    float: left;
}

.container-fluid input[type="search"] {
    background-image: url("./assets/search.png");
    background-repeat: no-repeat;
    background-size: 3rem;
    background-color: $gray;
    width: 100%;
    height: 2.5rem;
    padding: 1rem 3rem;
    margin: 0 auto;
    border: 1px solid transparent;
}

.container-fluid input[type="search"]:focus-visible {
    outline: none;
}

.container-fluid input[type="search"]::-webkit-input-placeholder {
    color: $primary;
}

.content {
    display: inline-flex;
    margin-top: 0.25rem;
}

.content img {
    margin: 0.2rem 0.8rem;
}

.content h1 {
    color: $secondary;
    user-select: none;
}

nav ul li {
    display: inline-flex;
    list-style-type: none;
    margin: 0.5rem 1rem;
}

nav ul li button {
    color: $secondary;
    text-decoration: none;
    border: transparent;
    background-color: transparent;
}

.visited {
    border-bottom: 0.25rem solid $secondary;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 0.25rem;
    text-decoration-color: $primary;
}

nav ul li button:hover {
    color: $secondary;
    text-decoration-color: $secondary;
}

.container-pages {
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.pagination {
    display: inline-flex;
    list-style-type: none;
    margin: 0rem;
    padding: 0rem;
}

.pages {
    background-color: $gray;
    border: 0.15rem solid $secondary;
    border-radius: 0.5rem;
    color: $secondary;
    cursor: pointer;
    font-weight: bold;
    margin: 1rem 2rem;
    padding: 1rem;
}

.card {
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0.1rem 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2);
}

.card-img {
    align-items: stretch;
    flex-grow: 1;
    width: 30%;
}

.card-body {
    display: flex;
    flex-grow: 7;
    flex-flow: row wrap;
    justify-content: stretch;
    padding: 1rem;
    width: 65%;
}

.card-header,
.card-subheader,
.card-text,
.card-buttons {
    flex: 0 100%;
    display: flex;
}

.card-header {
    order: 1;
}
.card-subheader {
    order: 2;
    padding: 0.25rem 0rem;
}

.card-title,
.card-text-release {
    flex-grow: 5;
}

.card-text-genres {
    text-align: end;
}

.card-subtitle,
.card-text-genres {
    flex-grow: 1;
}

.card-subtitle {
    text-align: end;
}

.card-text {
    align-items: stretch;
    height: 50%;
    order: 3;
    word-wrap: break-word;
}

.card-buttons {
    justify-content: space-between;
    order: 4;
}

.card-title,
.card-subtitle,
.card-text-overview,
.labels {
    color: #83959b;
    font-weight: bold;
}

.labels {
    margin-left: 2.5rem;
}

.rowManual {
    margin: 0 -0.25rem;
}

.rowManual:after {
    content: "";
    display: table;
    clear: both;
}

.selects {
    margin: 1rem 3rem;
    height: 4vh;
    border: 0.15rem solid $gray;
    border-radius: 0.5rem;
    border-color: #ecf1f4;
}

.selects:focus-visible {
    outline: none;
}

.button-trailer {
    background-color: white;
    border: 0.12rem solid $secondary;
    border-radius: 0.25rem;
    color: $secondary;
    cursor: pointer;
}

.button-favorite {
    background-color: white;
    border-color: transparent;
    border-radius: 0.25rem;
    color: $primary;
    cursor: pointer;
}

.button-favorite:hover {
    border: 0.12rem solid $primary;
}

.marked {
    background-color: white;
    border: 0.12rem solid $primary;
    border-radius: 0.25rem;
    color: $primary;
    cursor: pointer;
    font-weight: bold;
}

.favIcon {
    margin: 0rem 0.1rem;
    max-height: 1rem;
    max-width: 1rem;
}

.text-center {
    margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    header {
        display: inline-block;
        text-align: center;
        height: 14vh;
    }

    .container-fluid input[type="text"] {
        padding: 1rem 3rem;
    }

    .items {
        grid-template-columns: 1fr;
        padding: 0rem 0.5rem;
    }

    .card-title,
    .card-subtitle,
    .card-text-genres,
    .card-text-overview,
    .card-text-release,
    .button-trailer,
    .button-favorite,
    .marked {
        font-size: 0.45rem;
    }

    .button-trailer {
        padding: 0rem 0.8rem;
    }

    .links,
    .visited {
        font-size: 1rem;
    }

    h4 {
        margin-left: 1.5rem;
        font-size: 0.7rem;
    }

    .labels,
    #inputGenre {
        margin-left: 2rem;
        font-size: 0.7rem;
    }

    #comboYear {
        font-size: 0.7rem;
        margin-left: 1.5rem;
    }

    #inputGenre {
        margin-left: 1.5rem;
        width: 9rem;
    }

    #listGenres {
        margin-left: 1.8rem;
        width: 8.5rem;
    }

    #listGenres ul li {
        font-size: 0.8rem;
        padding: 1rem 0.8rem;
    }

    .column-2 {
        width: 40%;
    }

    .favIcon {
        margin: 0rem 0.1rem;
        max-height: 0.4rem;
        max-width: 0.4rem;
    }

    .pages {
        font-size: 0.5rem;
        margin: 1rem 0.5rem;
        padding: 0.5rem;
    }
}

@media screen and (min-width: 375px) and (max-width: 480px) {
    header {
        display: inline-block;
        text-align: center;
        height: 14vh;
    }

    .items {
        grid-template-columns: 1fr;
        padding: 0rem 1rem;
    }

    .card-text-genres,
    .card-text-overview,
    .card-text-release,
    .card-title,
    .card-subtitle,
    .button-trailer,
    .button-favorite,
    .marked {
        font-size: 0.5rem;
    }

    .button-trailer {
        padding: 0rem 1rem;
    }

    h4 {
        margin-left: 1.6rem;
        font-size: 0.7rem;
    }

    .labels,
    #inputGenre,
    #comboYear {
        margin-left: 1.8rem;
        font-size: 0.7rem;
    }

    #comboYear {
        margin-left: 1.5rem;
    }

    #inputGenre {
        margin-left: 1.5rem;
        width: 10rem;
    }

    #listGenres {
        margin-left: 1.8rem;
        width: 9.5rem;
    }

    #listGenres ul li {
        font-size: 0.8rem;
        padding: 1rem 0.8rem;
    }

    .links,
    .visited {
        font-size: 1rem;
    }

    .column-2 {
        width: 45%;
    }

    .favIcon {
        margin: 0rem 0.1rem;
        max-height: 0.5rem;
        max-width: 0.5rem;
    }

    .pages {
        font-size: 0.7rem;
        margin: 1rem 0.5rem;
        padding: 0.5rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    header {
        display: inline-block;
        text-align: center;
        height: 14vh;
    }

    .links,
    .visited {
        font-size: 1rem;
    }

    #labelGender {
        margin-left: 3rem;
    }

    #inputGenre {
        width: 13rem;
    }

    #listGenres {
        margin-left: 3rem;
        width: 12.2rem;
    }

    #listGenres ul li {
        font-size: 0.8rem;
        padding: 1rem 0.8rem;
    }

    .column-2 {
        width: 30%;
    }

    .items {
        grid-template-columns: 1fr;
        padding: 0rem 1rem;
    }

    .card-title,
    .card-subtitle,
    .card-text-genres,
    .card-text-release,
    .card-text-overview,
    .button-trailer,
    .button-favorite,
    .labels,
    #inputGenre,
    #comboYear,
    .marked,
    h4 {
        font-size: 0.75rem;
    }

    .button-trailer {
        padding: 0rem 1rem;
    }

    .labels,
    #comboYear {
        margin-left: 2rem;
    }

    h4 {
        margin-left: 1.75rem;
    }

    .favIcon {
        margin: 0rem 0.1rem;
        max-height: 0.7rem;
        max-width: 0.7rem;
    }

    .pages {
        font-size: 0.7rem;
        margin: 0.1rem 0.5rem;
        padding: 0.5rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .items {
        grid-template-columns: repeat(2, 1fr);
        padding: 0rem 1rem;
    }

    .column-2 {
        width: 25%;
    }

    .card-title,
    .card-subtitle,
    .card-text-genres,
    .card-text-release,
    .card-text-overview,
    .marked,
    .button-trailer,
    .button-favorite {
        font-size: 0.6rem;
    }

    .labels,
    #inputGenre,
    #comboYear,
    h4 {
        font-size: 0.8rem;
    }

    #inputGenre {
        margin-left: 2.3rem;
    }

    #comboYear,
    h4 {
        margin-left: 2.3rem;
    }

    .button-trailer {
        padding: 0rem 1rem;
    }

    .button-favorite,
    .marked {
        padding: 0rem 0.5rem;
    }

    .links,
    .visited {
        font-size: 1rem;
    }

    .favIcon {
        max-height: 0.4rem;
        max-width: 0.4rem;
    }

    #inputGenre {
        width: 12rem;
    }

    #listGenres {
        margin-left: 3rem;
        width: 11rem;
    }

    #listGenres ul li {
        font-size: 0.8rem;
        padding: 1rem 0.8rem;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1.5rem;
        grid-row-gap: 1rem;
        padding: 0rem 3rem;
    }

    .card-title,
    .card-subtitle,
    .card-text-genres,
    .card-text-release,
    .card-text-overview,
    .button-trailer,
    .button-favorite,
    .marked {
        font-size: 0.75rem;
    }

    .button-trailer,
    .button-favorite,
    .marked {
        padding: 0rem 0.75rem;
    }

    .favIcon {
        margin: 0rem 0.1rem;
        max-height: 0.7rem;
        max-width: 0.7rem;
    }

    .links,
    .visited {
        font-size: 1.2rem;
    }

    h4 {
        margin-left: 3.6rem;
    }

    .column-2 {
        width: 25%;
    }

    #labelYear,
    #comboYear {
        margin-left: 3.8rem;
    }

    #inputGenre {
        margin-left: 2.4rem;
        width: 14rem;
    }

    #listGenres {
        margin-left: 2.8rem;
        width: 13rem;
    }

    #listGenres ul li {
        font-size: 0.8rem;
        padding: 1rem 0.8rem;
    }
}

@media screen and (min-width: 1441px) {
    .items {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1.5rem;
        grid-row-gap: 1rem;
        padding: 0rem 2rem;
    }

    .button-trailer,
    .button-favorite,
    .marked {
        padding: 0rem 0.5rem;
    }

    .card-title,
    .card-subtitle,
    .card-text-genres,
    .card-text-release,
    .card-text-overview,
    .button-trailer,
    .button-favorite,
    .marked {
        font-size: 0.8rem;
    }

    .links {
        font-size: 1.2rem;
    }

    .labels {
        margin-left: 2.8rem;
    }

    #comboYear {
        margin-left: 2.6rem;
    }

    #listGenres {
        margin-left: 2.8rem;
        width: 12.2%;
    }

    #listGenres ul li {
        font-size: 1rem;
        padding: 1rem 0.8rem;
    }

    .favIcon {
        margin: 0rem 0.1rem;
        max-height: 0.7rem;
        max-width: 0.7rem;
    }
}
