$reactColor: #011826;
$primary: #767676;
$secondary: rgb(0, 189, 255);
$gray: #e6e6e6;

@font-face {
    font-family: "Sansation";
    src: url("./assets/Sansation_Regular.ttf");
}

* {
    font-family: "Sansation";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100%;
    height: 100vh;
}

header {
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title {
    margin-top: 0.25rem;
}

#logo {
    height: 2.5rem;
}

.links {
    cursor: pointer;
}

#searcher {
    height: 2.2rem;
    padding-left: 0.5rem;
    width: 24%;
    box-sizing: border-box;
    margin-left: 4.5rem;
    border: 0.15rem solid $gray;
    border-color: darken($color: $gray, $amount: 30);
    border-radius: 0.5rem;
}

#searchIcon {
    height: 2.5rem;
}

#comboGenre,
#comboYear {
    font-size: 1rem;
}

#comboGenre {
    margin-left: 2.5rem;
    width: 80%;
}

h4 {
    margin-left: 2.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.results {
    margin-left: 4.2rem;
    margin-top: 0.5rem;
}

.bg-white {
    background-color: white !important;
}

.container-fluid {
    min-width: 100%;
}

.container-card {
    float: left;
    width: 50%;
    padding: 0 0.5rem;
    height: 58vh;
}

.column-2 {
    width: 14%;
    float: left;
}

.column-3 {
    width: 18%;
    float: left;
}

.column-5 {
    width: 42%;
    float: left;
}

.column-6 {
    width: 49%;
    float: left;
}

.column-8 {
    width: 66%;
    float: left;
}

.column-12 {
    width: 100%;
    float: left;
    clear: both;
}

.container-fluid input[type="text"] {
    background-image: url("./assets/search.png");
    background-repeat: no-repeat;
    background-size: 2rem;
    background-color: $gray;
    width: 100%;
    height: 2.5rem;
    box-sizing: border-box;
    padding: 1rem 3rem;
    margin: 0 auto;
    border-color: transparent;
}

.container-fluid input[type="text"]:focus-visible {
    outline: none;
}

.content {
    display: inline-flex;
    margin-top: 0.25rem;
}

.content img {
    margin: 0.2rem 1rem;
}

.content h1 {
    color: $secondary;
    user-select: none;
}

nav ul li {
    display: inline-flex;
    list-style-type: none;
    margin: 0.5rem 1rem;
}

nav ul li button {
    font-size: 2rem;
    color: $secondary;
    text-decoration: none;
    border: transparent;
    background-color: transparent;
}

nav ul li button:visited {
    text-decoration-color: $secondary;
    text-decoration: underline;
    font-weight: bold;
}

nav ul li button:hover {
    color: $secondary;
    text-decoration-color: $secondary;
    text-decoration: underline;
}

.card {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 0.3rem;
    max-height: 55vh;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 0.25rem;
}

.card:hover {
    box-shadow: 0 0.235rem 0.313rem 0.063 rgba(64, 60, 67, 16%);
}

.card img {
    grid-column: 1 / 1;
    grid-row: 1 / 11;
    height: 100%;
    border-radius: 0.25rem;
}

.card-title {
    grid-column: 2 / 10;
    grid-row: 1 / 2;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0.3rem 0.1rem 1rem 0.5rem;
}

.card-subtitle {
    grid-column: 10 / 11;
    grid-row: 1 / 2;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0.3rem 0.1rem 1rem 0.1rem;
}

.card-text-release {
    font-size: 1.25rem;
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    margin: 0.5rem 0.6rem;
}

.card-text-genres {
    font-size: 1.25rem;
    grid-column: 5 / 11;
    grid-row: 2 / 3;
    margin: 0.5rem 0.5rem;
}

.card-text-overview {
    grid-column: 2 / 11;
    grid-row: 3 / 9;
    font-size: 1.25rem;
    margin: 1rem 1rem 0rem 0.5rem;
    text-align: justify;
}

.labels {
    margin-left: 3rem;
}

.rowManual {
    margin: 0 -0.25rem;
}

.rowManual:after {
    content: "";
    display: table;
    clear: both;
}

.selects {
    margin: 1rem 3rem;
    height: 4vh;
    border: 0.15rem solid $gray;
    border-radius: 0.5rem;
    border-color: darken($color: $gray, $amount: 30);
}

.selects:focus-visible {
    outline: none;
}

.button-trailer {
    background-color: white;
    border-color: $secondary;
    border-radius: 0.25rem;
    color: $secondary;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    grid-column: 2 / 5;
    grid-row: 10 / 10;
    height: 4vh;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
}

.button-favorite {
    background-color: white;
    border-color: transparent;
    border-radius: 0.25rem;
    color: $primary;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    grid-column: 6 / 11;
    grid-row: 10 / 10;
    height: 4vh;
    margin: 0.5rem 0.8rem 1rem 0rem;
}

.favIcon {
    margin: 0rem 0.1rem;
    max-height: 1rem;
    max-width: 1rem;
}

.text-center {
    margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    header {
        display: inline-block;
        text-align: center;
        height: 12vh;
    }

    h4,
    .labels,
    #comboYear,
    #comboGenre {
        font-size: 0.8rem;
    }

    .labels,
    h4 {
        margin-left: 2rem;
    }

    #comboYear {
        margin-left: 1.5rem;
    }

    #comboGenre {
        margin-left: 1.5rem;
    }

    .links {
        font-size: 1.2rem;
    }

    .column-2 {
        width: 40%;
    }

    .container-card {
        max-height: 38vh;
        width: 100%;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 0.1rem;
        max-height: 36vh;
    }

    .card img {
        grid-column: 1 / 1;
        grid-row: 1 / 12;
        width: 8rem;
    }

    .card-title {
        grid-column: 2 / 10;
        grid-row: 1 / 1;
        font-size: 0.7rem;
        margin: 0rem;
    }

    .card-subtitle {
        grid-column: 10 / 11;
        grid-row: 1 / 1;
        font-size: 0.7rem;
        margin: 0rem;
    }

    .card-text-release {
        grid-column: 2 / 6;
        grid-row: 2 / 2;
        font-size: 0.6rem;
        margin: 0rem 0.6rem;
    }

    .card-text-genres {
        grid-column: 7 / 11;
        grid-row: 2 / 2;
        font-size: 0.6rem;
        margin: 0rem 0.6rem;
    }

    .card-text-overview {
        grid-column: 2 / 11;
        grid-row: 3 / 11;
        font-size: 0.6rem;
        margin: 0.5rem 0.6rem;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: scroll;
        text-overflow: ellipsis;
    }

    .button-trailer {
        font-size: 0.5rem;
        grid-column: 2 / 6;
        grid-row: 11 / 11;
        margin: 1rem 0rem 0rem 0.5rem;
    }

    .button-favorite {
        font-size: 0.5rem;
        grid-column: 6 / 11;
        grid-row: 11 / 11;
        margin: 1rem 0.5rem 0.5rem 0.3rem;
    }

    .favIcon {
        margin: 0rem 0.1rem;
        max-height: 0.5rem;
        max-width: 0.5rem;
    }
}

@media screen and (min-width: 375px) and (max-width: 480px) {
    header {
        display: inline-block;
        text-align: center;
        height: 12vh;
    }

    h4,
    .labels,
    #comboYear,
    #comboGenre {
        font-size: 0.7rem;
    }

    .labels,
    h4 {
        margin-left: 2rem;
    }

    #comboYear {
        margin-left: 1.5rem;
    }

    #comboGenre {
        margin-left: 1.5rem;
    }

    .links {
        font-size: 1.2rem;
    }

    .column-2 {
        width: 45%;
    }

    .container-card {
        max-height: 27vh;
        width: 100%;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 0.1rem;
        max-height: 25vh;
    }

    .card img {
        grid-column: 1 / 1;
        grid-row: 1 / 12;
        width: 8.5rem;
    }

    .card-title {
        grid-column: 2 / 10;
        grid-row: 1 / 2;
        font-size: 0.7rem;
        margin: 0rem;
    }

    .card-subtitle {
        grid-column: 10 / 11;
        grid-row: 1 / 2;
        font-size: 0.7rem;
        margin: 0rem;
    }

    .card-text-release {
        grid-column: 2 / 6;
        grid-row: 2 / 2;
        font-size: 0.6rem;
        margin: 0rem 0.6rem;
    }

    .card-text-genres {
        grid-column: 6 / 11;
        grid-row: 2 / 2;
        font-size: 0.6rem;
        margin: 0rem 0.6rem;
    }

    .card-text-overview {
        grid-column: 2 / 11;
        grid-row: 3 / 11;
        font-size: 0.7rem;
        margin: 0.5rem 0.6rem;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: scroll;
        text-overflow: ellipsis;
    }

    .button-trailer {
        font-size: 0.6rem;
        grid-column: 2 / 5;
        grid-row: 11 / 11;
        margin: 1rem 0rem 0rem 0.5rem;
    }

    .button-favorite {
        font-size: 0.6rem;
        grid-column: 6 / 11;
        grid-row: 11 / 11;
        margin: 1rem 0.5rem 0.5rem 0.3rem;
    }

    .favIcon {
        margin: 0rem 0.1rem;
        max-height: 0.5rem;
        max-width: 0.5rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    header {
        display: inline-block;
        text-align: center;
        height: 10vh;
    }

    h4,
    .labels,
    #comboYear,
    #comboGenre {
        font-size: 0.8rem;
    }

    .links {
        font-size: 1.38rem;
    }

    #labelGender {
        margin-left: 3rem;
    }

    #comboGenre {
        width: 100%;
    }

    .column-2 {
        width: 20%;
    }

    .container-card {
        max-height: 32vh;
        width: 50%;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 0.1rem;
        max-height: 30vh;
    }

    .card img {
        grid-column: 1 / 1;
        grid-row: 1 / 12;
        width: 9rem;
    }

    .card-title {
        grid-column: 2 / 10;
        grid-row: 1 / 1;
        font-size: 0.8rem;
    }

    .card-subtitle {
        grid-column: 10 / 11;
        grid-row: 1 / 1;
        font-size: 0.8rem;
    }

    .card-text-release {
        grid-column: 2 / 6;
        grid-row: 2 / 2;
        font-size: 0.6rem;
    }

    .card-text-genres {
        grid-column: 6 / 11;
        grid-row: 2 / 2;
        font-size: 0.6rem;
    }

    .card-text-overview {
        grid-column: 2 / 11;
        grid-row: 3 / 10;
        font-size: 0.6rem;
    }

    .button-trailer {
        font-size: 0.6rem;
        grid-column: 2 / 6;
        grid-row: 11 / 11;
    }

    .button-favorite {
        font-size: 0.6rem;
        grid-column: 6 / 11;
        grid-row: 11 / 11;
    }

    .favIcon {
        margin: 0rem 0.1rem;
        max-height: 0.7rem;
        max-width: 0.7rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container-card {
        max-height: 43vh;
        width: 50%;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 0.1rem;
        max-height: 40vh;
    }

    .card img {
        grid-column: 1 / 1;
        grid-row: 1 / 12;
    }

    .card-title {
        grid-column: 2 / 10;
        grid-row: 1 / 2;
        font-size: 1rem;
    }

    .card-subtitle {
        grid-column: 10 / 11;
        grid-row: 1 / 2;
        font-size: 1rem;
    }

    .card-text-release {
        grid-column: 2 / 6;
        grid-row: 2 / 3;
        font-size: 0.8rem;
    }

    .card-text-genres {
        grid-column: 6 / 11;
        grid-row: 2 / 3;
        font-size: 0.8rem;
    }

    .card-text-overview {
        grid-column: 2 / 11;
        grid-row: 3 / 11;
        font-size: 0.8rem;
    }

    .button-trailer {
        font-size: 0.8rem;
        grid-column: 2 / 5;
        grid-row: 11 / 11;
    }

    .button-favorite {
        font-size: 0.8rem;
        grid-column: 6 / 11;
        grid-row: 11 / 11;
    }

    .favIcon {
        margin: 0rem 0.1rem;
        max-height: 0.8rem;
        max-width: 0.8rem;
    }

    #comboGenre {
        width: 12rem;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .container-card {
        max-height: 43vh;
        width: 50%;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 0.1rem;
        max-height: 40vh;
    }

    .card img {
        grid-column: 1 / 1;
        grid-row: 1 / 12;
    }

    .card-title {
        grid-column: 2 / 10;
        grid-row: 1 / 2;
        font-size: 1rem;
    }

    .card-subtitle {
        grid-column: 10 / 11;
        grid-row: 1 / 2;
        font-size: 1rem;
    }

    .card-text-release {
        grid-column: 2 / 6;
        grid-row: 2 / 3;
        font-size: 0.8rem;
    }

    .card-text-genres {
        grid-column: 6 / 11;
        grid-row: 2 / 3;
        font-size: 0.8rem;
    }

    .card-text-overview {
        grid-column: 2 / 11;
        grid-row: 3 / 10;
        font-size: 0.8rem;
    }

    .button-trailer {
        font-size: 0.8rem;
        grid-column: 2 / 5;
        grid-row: 10 / 11;
    }

    .button-favorite {
        font-size: 0.8rem;
        grid-column: 6 / 11;
        grid-row: 10 / 11;
    }

    .favIcon {
        margin: 0rem 0.1rem;
        max-height: 0.8rem;
        max-width: 0.8rem;
    }

    #comboGenre {
        width: 12rem;
    }
}

@media screen and (min-width: 1201px) {
}
